
.fondo{
    width: 100%;
    margin-top: 1%;
    overflow: hidden;
    float: left;
}
.fondo ul{
    padding: 1%;
    display: flex;
    width: 400%;
    animation: cambio 20s infinite;
    animation-direction: alternate;
}
.fondo li{
    list-style: none;
    width: 100%;
}
.fondo img{
    margin-top: 1;
    width: 100%;
    float: left;
}
@keyframes cambio {
    0%{margin-left: 0%; }
    20%{margin-left: 0%;}

    25%{margin-left: -100%; }
    45%{margin-left: -100%;}

    50%{margin-left: -200%; }
    70%{margin-left: -200%;}

    75%{margin-left: -300%; }
    100%{margin-left: -300%;}
}
.ti{
    width: 100%;
    background: url(../imagenes/f.gif);
    color: red;
}
.m{
    width: 100%;
    background: url(../imagenes/f.gif);
    color: rgb(194, 0, 0);
}
.im{
    width: 100%;
}
.pie{
    width: 100%;
    background: url(../imagenes/f.gif);
    color: red;
    text-align: center;
}
@media only screen and (max-width:700px){
.fondo, .ti{
    width:100%;
    text-align: center;
    float: left;
}
.m{
    width: 100%;
    text-align: center;
    margin-top: 1%;
    float: left;
    font-size: 20px;
    font-family: cursive;
}
.im{
    width: 100%;
}
}
